.damn { 		
    background-repeat: no-repeat;
    background-image: url("glavnoe_oformlenie.jpg");
    background-size: cover;
}
.btn1 {
display: inline-block; 
background: #00ffff; 
color: #000000; 
padding: 3rem 1.8rem; 
text-decoration: none; 
border-radius: 10px; 
position: absolute;
top: 420px;
right: 200px;

}
.btn2 {
display: inline-block; 
background: #00ffff; 
color: #000000; 
padding: 3rem 1.8rem; 
text-decoration: none; 
border-radius: 10px;
position: absolute;
top: 400px;
left: 125px;
}