<!DOCTYPE html>
<html style="font-size: 16px;">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title>Вход</title>
    <link rel="stylesheet" href="nicepage.css" media="screen">
    <link rel="stylesheet" href="Вход.css" media="screen">
    <script class="u-script" type="text/javascript" src="jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="nicepage.js" defer=""></script>
    <meta name="generator" content="Nicepage 4.2.0, nicepage.com">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cardo:400,400i,700">


    <script type="application/ld+json">{
        "@context": "http://schema.org",
        "@type": "Organization",
        "name": ""
    }</script>
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="Вход">
    <meta property="og:type" content="website">
</head>
<body data-home-page="Вход.html" data-home-page-title="Вход" class="u-body"><header class="u-black u-clearfix u-header u-header" id="sec-01f2"><div class="u-clearfix u-sheet u-sheet-1"></div></header>
<section class="u-black u-border-1 u-border-black u-clearfix u-section-1" id="sec-ffa2">
    <p class="u-text u-text-custom-color-4 u-text-1">AKUS</p>
    <p class="u-custom-font u-text u-text-custom-color-4 u-text-2">AKUS</p>
    <img class="u-image u-image-default u-image-1" src="images/2021-12-0310.58.46.png" alt="" data-image-width="1122" data-image-height="694">
</section>


<footer class="u-align-center u-clearfix u-footer u-gradient u-footer" id="sec-8910"><div class="u-align-left u-clearfix u-sheet u-sheet-1"></div></footer>
<section class="u-backlink u-clearfix u-grey-80">
    <a class="u-link" href="https://nicepage.com/website-templates" target="_blank">
        <span>Website Templates</span>
    </a>
    <p class="u-text">
        <span>created with</span>
    </p>
    <a class="u-link" href="" target="_blank">
        <span>Website Builder Software</span>
    </a>.
</section>
</body>
</html>